# Introduction to Pandas

<div class="alert alert-block alert-info">
<Strong>Objectives</strong>

- Become familiar with the Pandas data analysis library in python
- Read data into pandas DataFrames from files
- Manipulate data in the DataFrame
- Export data as CSV

Pandas is a flexible open-source data analysis and manipulation library for Python. It provides data structures in series and DataFrames. A series is like a list and a DataFrame is like a spreadsheet. The key is that this library allows users to easily load, explore, clean, transform and analyzed structured data. It is widely used in data science, machine learning and statitical analysis.

This activity is intended to give you a brief overview of DataFrames and introduce you to pandas concepts we are using in the next notebook.

In [ ]:
# load the pandas library 
# the pandas community as agreed that the alias for pandas is 'pd'. 
# Loading pandas with this alias allows us to use its functions and classes with a shorter name.
import pandas as pd

Much of the data we will be using is availabe as comma separated values files from PubChem or other resources. Pandas has the ability to read in csv data either locally from a downloaded file or as a request if we know the source of the file. In the code cell below, we will download the <a href = https://pubchem.ncbi.nlm.nih.gov/periodic-table/> periodic table from PubChem </a> and store it into a DataFrame variable call `df`.

In [ ]:
# load the periodic table data from a URL into a pandas DataFrame. 
# We do not need to use the `requests` library here because pandas can directly read from URLs.
url = "https://pubchem.ncbi.nlm.nih.gov/rest/pug/periodictable/CSV" #url for the periodic table data in CSV format
df = pd.read_csv(url) # read the CSV data from the URL into a pandas DataFrame
df # display the DataFrame to see its contents

Notice that the DataFrame output indicates it has 118 rows and 17 columns. There are a few ways to get information about rows and columns in our DataFrame(named `df`):

In [ ]:
print(df.shape)
print(len(df))
print(df.shape[0])  
print(df.shape[1])  
print(len(df.columns))

<div class="alert alert-block alert-warning">
<strong>Check your understanding</strong>

Write comments next to each line in the code above to indicate what the code is doing.

Run the next four code cells to explore the columns property and head, tail and info methods of a DataFrame.

In [ ]:
df.columns # display the columns of the DataFrame to understand its structure

In [ ]:
df.head(3) # display the first 3 rows of the DataFrame to get a glimpse of the data

In [ ]:
df.tail(5)  # display the last 5 rows of the DataFrame to see the end of the data

In [ ]:
df.info() # display information about the DataFrame, such as the number of entries, column names, and data types

<div class="alert alert-block alert-warning">
<strong>Check your understanding</strong>

* When displaying a DataFrame, what is the default display?
* If you only want to see the first 4 lines of the DataFrame, what command would you type?
* If you want to see the last line only of the DataFrame, what command would you type?
* Why is hydrogen, atomic number 1, listed as row 0?
* Why might some of the data be null for these elements?

### Accessing Subsets of Data in the DataFrame
Now that our data is in a DataFrame, we can access a subset of the data.

In [ ]:
# display the row with index 17 to see the details of the element at that index
df.loc[17]

In [ ]:
# This will show the symbol of the element at index 17
df.loc[17, "Symbol"]

In [ ]:
# this code cell will display the name and Atomic Radius of the element at index 17
# it uses the `loc` method to access specific rows and columns in the DataFrame
# this require the name of the columns to be specified as a list
df.loc[17, ["Name", "AtomicRadius"]]

In [ ]:
# Display the name and atomic radius of the element at index 17 using column indexing
# it uses the `iloc` method to access specific rows and columns by their integer index
# you do not need to specify the column names, just their integer positions
# This can be useful when you know the position of the columns but not their names or the names are long.
df.iloc[17, [0, 7]]

Sometimes we want to have a subset of the data. This is achieved by identifying which columns we want.

In [ ]:
df[["Name", "GroupBlock"]].head(3) # display the first 3 rows of the "Name" and "GroupBlock" columns

We can also filter the data when we only want a subset of the data.

In [ ]:
df[df["AtomicNumber"] < 10.0 ]# display the rows where the "AtomicNumber" is less than 10.0

In [ ]:
# display rows where AtomicNumber is greater than 10 and less than 20
df[(df["AtomicNumber"] > 10) & (df["AtomicNumber"] < 20)]

Notice in the series called GroupBlock has repeating values. If we want to display how many different values are in that column, we can identify how many are `.unique`, and then show how many elements in the DataFrame are classified as Noble gasses using different methods.

In [ ]:
# display the unique values in the "GroupBlock" column
print("Unique values in 'GroupBlock':")
print(df.GroupBlock.unique()) 
print()
# display the total count of unique values in the "GroupBlock" column
print("Total unique values in 'GroupBlock':")
print(df["GroupBlock"].nunique()) # nunique(): Returns the count of unique values.
print(len(df["GroupBlock"].unique())) # len(): Returns the count of unique values in the Series.
print()
# display the total count of rows where the "GroupBlock" is "Noble Gas" using the `shape` attribute
print("Total count of rows where 'GroupBlock' is 'Noble gas':")
print(df[df["GroupBlock"] == "Noble gas"].shape[0])
# display the total count of rows where the "GroupBlock" is "Noble Gas" using the length function
print(len(df[df["GroupBlock"] == "Noble gas"]))
# display the total count of rows where the "GroupBlock" is "Noble Gas" using the .sum()` method
print(df["GroupBlock"].eq("Noble gas").sum())
print()

#create a list of elements that are Noble Gases
noble_gases = df[df["GroupBlock"] == "Noble gas"]["Name"].tolist()
# display the list of Noble Gases
print("The noble gases are:", noble_gases)
# display the DataFrame filtered to show only rows where the "GroupBlock" is "Noble gas"
df[(df["GroupBlock"].eq("Noble gas"))]

Sometimes we find that there is data in columns that may be irrelevant to your data analysis. This column can be removed using the `.drop()` method. Looking at the data in the DataFrame above, we probably don't need CPKHexColor column. Let's remove that data.

In [ ]:
df = df.drop('CPKHexColor', axis=1)  # drop the 'CPKHexColor' column from the DataFrame

In [ ]:
df.head(1)

### Sorting Data
Pandas provides the `sort_values` method to sort data in your series. The default is to sort by ascending value in a column. We can use a keyword argument in the `sort_values` method to set optional parameters. In this case using <code><i>ascending</i>=False</code> sorts in desending order and <code><i>ascending</i>=True</code> sorts in ascending order.

In [ ]:
# sort the DataFrame by "AtomicNumber" in descending order (acending=True will sort in ascending order)
df.sort_values(by="AtomicNumber", ascending=False)

In [ ]:
df.sort_values(by="AtomicRadius")

Notice in the above DataFrame display that after sorting by Atomic Radius, the tail 5 entries have `NaN` displayed. This is Not a Number (NaN) and in pandas represents missing data. 

If you want to identify NaN values, you can use the `isna()` method. Identifying the NaN values then allows us to remove them from the DataFrame. This is accomplished through the `dropna()` method. It drops any rows that contain `NaN` values. This looks for values that are `False` or `not True`. 

Alternatively, you could identify only `True` values by using the `notna()` method.

In the following code cells identify which Rows have NaN values for Atomic Radius and then we will create a new DataFrame that has only Atomic Number and Atomic Radii without with NaN values.

In [ ]:
 # display the number of NaN values in each column
print(df.isna().sum()) 
print()
# display the number of NaN values in only the "Atomic Radius" column
print("The number of rows where Atomic Radius is NaN is:",df.AtomicRadius.isna().sum())

In [ ]:

print(df.notna().sum())  # display the number of non-NaN values in each column

In [ ]:
# Identify and print all rows where AtomicRadius is NaN
df[df['AtomicRadius'].isna()]

In [ ]:
# Create a new DataFrame with AtomicNumber and AtomicRadius, dropping rows where AtomicRadius is NaN
df_atomic_radius_dropped = df[['AtomicNumber', 'AtomicRadius']].dropna(subset=['AtomicRadius'])
df_atomic_radius_dropped

<div class="alert alert-block alert-warning">
<Strong>Check Your Understanding</strong>

In the cell block below, write code to generate a new DataFrame called <strong>df_drop_density</strong> that only has Names and Density values that have values.

In [ ]:
#write your Check your Understanding code here

<div class="alert alert-block alert-danger">

<details>

<summary >Solution</summary>
<div style="text-align: left">

<pre style="color: black;">
df_drop_density = df[['Name', 'Density']].dropna(subset=['Density'])
df_drop_density
</pre>

### Working with data files

Once you have maninpulated your data, it is a good idea to save this data as a comma separated values (.csv) file. This can be accessed later and has all of your data cleaned for the next project. For example, you now have a DataFrame that is just atomic number and atomic radius. You can write that data to a new csv file using the `to_csv()` method.

Your DataFrame not only has columns(series) of data, but also index numbers. Those index numbers may not be meaningful in other contexts. When you save the data as csv, you can choose to include the index value. The default is to include index, but setting an argument to index=False, you will exclude the index an only include the column data.

In [ ]:
df_atomic_radius_dropped.to_csv('atomic_radius.csv') 
df_atomic_radius_dropped.to_csv('atomic_radius_noindex.csv', index=False)

You can also upload that data from your file into a new DataFrame. One thing to note is that you need to specify its location. In this example, you wrote the csv file into the same directory as the original jupyter notebook, so you don't need to specify where it is located.

In [ ]:
df_fromfile = pd.read_csv("atomic_radius_noindex.csv")
df_fromfile.head(3)

<div class="alert alert-block alert-warning">
<Strong>Check Your Understanding</strong>

You have a DataFrame that loaded in your saved atomic_radius_noindex.csv file. 
* Load the atomic_radius.csv file into another DataFrame called df_index.
* Display the first three rows of data.
* If there is an unnamed column, remove that column from df_index in another code cell.

In [ ]:
# Write your code here

<div class="alert alert-block alert-danger">

<details>

<summary >Solution</summary>
<div style="text-align: left">

<pre style="color: black;">
df_index = pd.read_csv("atomic_radius.csv")
df_index.head(3) 
</pre>
<br> 
New Code cell
<pre style="color: black;">
df_index = df_index.drop(columns=["Unnamed: 0"], axis =1) 
</pre>

In the next notebook, we will be accessing data from a website. The data is provided as space delimited file meaning the column data is separted by spaces rather than commas. When we load the data we can specify the separation of data with the `sep = " "` argument.

The data from this website also does not have column names for the data. We can specify those names as we bring the data in.

In [ ]:
colnames = ['smiles','dat', 'id']
df_act = pd.read_csv("https://dude.docking.org/targets/aa2ar/actives_final.ism", sep=" ", names=colnames)
df_act

Once we have a DataFrame, we can also save that DataFrame locally as a csv file to load later.

In [ ]:
#write the DataFrame to a CSV file named 'aa2ar_actives.csv'
df_act.to_csv('aa2ar_actives.csv')

### Joining two DataFrames

A common operation when working with data is joining two DataFrames together. This is especially useful when information about a common set of molecules is stored in two different datasets. For example, you might have one DataFrame that has SMILES strings and names and a second that has names and experimental data. The `.join()` method combines the two DataFrames together using an index value that allows you to analyze all relevant data in a single DataFrame.

In [ ]:
DataFrame1 = pd.DataFrame({
    'xLogP3': [1.2, 3.5, 3.3],
    'MolecularWeight': [180.16, 206.28, 230.26]
}, index=['Aspirin', 'Ibuprofen', 'Naproxen'])

DataFrame2 = pd.DataFrame({
    'TPSA': [63.6, 37.3, 46.5],
    'SMILES': ['CC(=O)OC1=CC=CC=C1C(=O)O', 'CC(C)CC1=CC=C(C=C1)C(C)C(=O)O', 'C[C@@H](C1=CC2=C(C=C1)C=C(C=C2)OC)C(=O)O']
}, index=['Aspirin', 'Ibuprofen', 'Naproxen'])

In [ ]:
# since these are small DataFrames, we can display them side by side in a Jupyter Notebook using HTML
from IPython.display import display, HTML

df1_html = DataFrame1.to_html()
df2_html = DataFrame2.to_html()

display(HTML(f"""
<table>
<tr>
    <th><H3>DataFrame1</H3></th>
    <th><H3>DataFrame2</H3></th>
</tr>
<tr>
    <td>{df1_html}</td>
    <td style="padding-left: 30px;">{df2_html}</td>
</tr>
</table>
"""))

In [ ]:
DataFramecombined = DataFrame1.join(DataFrame2)
DataFramecombined

Pandas is quite powerful and we have only scratched the surface. To get more savvy with pandas, you can access tutorials available at https://pandas.pydata.org/pandas-docs/version/0.15/tutorials.html

<div class="alert alert-block alert-success">
<center><H1>Homework</H1></center>

Familiarize yourself with the DUD-E (Directory of Useful Decoys, Enhanced) data sets (http://dude.docking.org/), which contain known actives and inactives for 102 protein targets.The DUD-E sets are widely used in benchmarking studies that compare the performance of different virtual screening approaches (https://doi.org/10.1021/jm300687e).

Go to the DUD-E target page (http://dude.docking.org/targets) and find muscle glycogen phosphorylase (Target Name: PYGM, PDB ID: 1c8k) from the target list.  Clicking the target name "PYGM" directs you to the page that lists various files (http://dude.docking.org/targets/pygm).  Download file "**actives_final.ism**", which contains the SMILES strings of known actives.  Rename the file name as "**pygm_1c8k_actives.ism**".  \[Open the file in a text viewer/editor to check the format of this file\].

Identify the data what appropriate column names should be. 

1) Load the pygm_1c8k_actives.ism data into a DataFrame with appropriate column labels. 
2) Create a variable that has the number of rows in the DataFrame.
3) Create a variable that has the number of columns in the DataFrame.
4) Identify how many different structures are included in the dataset.
5) Save this file locally as a .csv file with name: pygm_1c8k_actives_clean.csv without DataFrame index values.

You will be using this .csv file in the next activity.

In [ ]:
# Write your code here.

colnames = ['smiles','DUD-E ID', 'CHEMBL_ID']
df_pygm_actives = pd.read_csv("https://dude.docking.org/targets/pygm/actives_final.ism", sep=" ", names=colnames)
# Create a variable that has the number of rows in the DataFrame.
num_rows = df_pygm_actives.shape[0]  # or len(df_pygm_actives)
# Create a variable that has the number of columns in the DataFrame.
num_cols = df_pygm_actives.shape[1]  # or df_pygm_actives.columns.size

# Identify number of unique SMILES strings in the df_pygm_actives DataFrame
print(len(df_pygm_actives.smiles.unique()))
# Save this file locally as a .csv file with name: pygm_1c8k_actives_clean.csv
df_pygm_actives.to_csv("pygm_1c8k_actives_clean.csv", index=False)